<?xml version="1.0"?>

<configuration>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <mimeMap fileExtension=".geojson" mimeType="application/json" />
            <mimeMap fileExtension=".pb" mimeType="application/octet-stream" />
     </staticContent>
    </system.webServer>
</configuration>
